@import "../styles/globals.css";

@layer base {
  :root {
    @apply font-sans;
  }

  html {
    @apply overflow-x-hidden;
    height: 100%;
  }

  body {
    @apply min-w-[320px] m-0 bg-background text-foreground antialiased overflow-x-hidden;
    min-height: 100%;
    height: auto;
  }

  #root {
    min-height: 100%;
  }
}


@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion) {
  *,
  ::before,
  ::after {
    animation: none !important;
  }
}
